services:

  zookeeper:

    image: confluentinc/cp-zookeeper:7.6.1

    environment:

      ZOOKEEPER_CLIENT_PORT: 2181

      ZOOKEEPER_TICK_TIME: 2000

    ports:

      - "2181:2181"

    networks:

      - expense-net

    healthcheck:

      test: echo srvr | nc localhost 2181 || exit 1

      interval: 10s

      retries: 10
 
  kafka:

    image: confluentinc/cp-kafka:7.6.1

    depends_on:

      zookeeper:

        condition: service_healthy

    environment:

      KAFKA_BROKER_ID: 1

      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT

      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092

      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:29092,PLAINTEXT_HOST://0.0.0.0:9092

      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

    ports:

      - "9092:9092"

    networks:

      - expense-net

    restart: unless-stopped
 
  kafka-ui:

    image: provectuslabs/kafka-ui:latest

    ports:

      - "9080:8080"

    environment:

      KAFKA_CLUSTERS_0_NAME: local

      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092

      KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181

    networks:

      - expense-net

    depends_on:

      - kafka
 
  eureka-server:

    image: jayaprakash9603/eureka-server:latest

    container_name: eureka-server

    ports:

      - "8761:8761"

    networks:

      - expense-net

    environment:

      - SPRING_PROFILES_ACTIVE=docker

    healthcheck:

      test: ["CMD-SHELL", "nc -z localhost 8761 || exit 1"]

      interval: 10s

      timeout: 5s

      retries: 10

      start_period: 40s

    restart: unless-stopped
 
  gateway:

    image: jayaprakash9603/gateway:latest

    container_name: gateway

    ports:

      - "8080:8080"

    networks:

      - expense-net

    extra_hosts:

      - "host.docker.internal:10.230.34.43"

    environment:

      - SPRING_PROFILES_ACTIVE=docker

      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/

      - USER_SERVICE_URL=http://host.docker.internal:6001

      - BUDGET_SERVICE_URL=http://host.docker.internal:6005

      - CHAT_SERVICE_URL=http://host.docker.internal:7001

      - FRIENDSHIP_SERVICE_URL=http://host.docker.internal:6009

      - PAYMENT_SERVICE_URL=http://host.docker.internal:6006

      - CATEGORY_SERVICE_URL=http://host.docker.internal:6008

      - BILL_SERVICE_URL=http://host.docker.internal:7007

      - AUDIT_SERVICE_URL=http://host.docker.internal:6004

      - EXPENSE_TRACKING_SERVICE_URL=http://host.docker.internal:6000

      - NOTIFICATION_SERVICE_URL=http://host.docker.internal:6003

    depends_on:

      eureka-server:

        condition: service_healthy

    restart: unless-stopped
 
networks:

  expense-net:
 